
.main-content

.login {
    height: 800px;
    background-color: #f5f5f5;
}

#login-form {
    height: 362px;
    width: 320px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px #000000;
    margin: auto;
    margin-top: 95px;
}

#login-header {
    font-size: 24px;
    font-family: OpenSans;
    color: #2e2925;
    text-align: center;
    line-height: 27px;
    margin: auto;
    padding: 15px 0 25px 0;
}

#remember-me, #forgot-password {
  margin:5px;
  padding: 1em;
  background: white;
}

.login-options {
    height: 65px;
}

#remember-me {
    width: 46%;
    float:left;
}

#forgot-password {
    width: 43%;
    float:right;
    color: #018ab1;
}

#email-input, #password-input {
    width: 250px;
    margin: auto;
}

#email-label, #password-label {
    margin-left: 40px;
    color: #999999;
}

#login-container {
    margin: 0 auto;
    text-align: center;
}

#remember-me-input {
    font-weight: normal;
}

#login-button {
    height: 50px;
    width: 198px;
    border-radius: 25px;
    font-family: OpenSans-Semibold;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    background-color: #00b3e7;
    border: 1px solid #f5f5f5;
}

#override-navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

#override-navbar-brand {
    float: none;
}


#override-navbar-default {
    background-color: #ffffff;
}

