{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>dockerized Django App Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {#    Adds Twitter Bootstrap CSS   #}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="{% static "main.css" %}">

    <link type="text/javascript"  src="{% static "main.js" %}"/>


    <title>DNAInfo</title>
</head>
<body>
    <div id="bootstrap-overrides" class="main-content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
